* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

#first-page {
  height: 100vh;
}

.navbar-nav,
.navbar {
  padding: 0 150px !important;
}

.container {
  padding: 0 100px;
}

#sharing-world {
  width: 100%;
  height: 80vh;
  margin-top: 20px;
  position: relative;
  background-image: url(./F-Assets/desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

#sharing-world::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#sharing-world h2 {
  font-size: 60px;
  max-width: 60%;
  position: relative;
  z-index: 1;
}

#sharing-world h4 {
  font-size: 30px;
  position: relative;
  z-index: 1;
}

.para,
.para1 {
  font-size: small;
}

#sharing-world .para {
  max-width: 50%;
  margin: 20px;
  border: 2px solid rgb(240, 235, 235);
  padding: 20px;
  position: relative;
  z-index: 1;
}

.other-color {
  color: rgb(125, 123, 123);
  position: relative;
  z-index: 11;
}

#second-page .container {
  height: 60vh;
  background: black;
  margin-bottom: 20px;
}

/* About */
#about {
  width: 100%;
  height: 80vh;
  margin-top: -500px;
  position: relative;
  background-image: url(./F-Assets/desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about:after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

#about .container {
  padding-top: 50px;
}

#about h2 {
  margin-top: 20px;
  max-width: 50%;
  position: relative;
  z-index: 1;
  margin-left: 300px;
}

.about-para {
  max-width: 75%;
  text-align: center;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

#about .other-color {
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.underline {
  text-decoration: underline;
  font-size: 14px;
  color: rgb(91, 87, 87);
  position: relative;
  z-index: 1;
}

/* Logo */
#logo {
  margin-top: 50px;
}

#logo h2 {
  max-width: 55%;
  margin: 20px auto;
  font-weight: bolder;
}

#logo .about-para {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  box-shadow: none;
}

#logo .other-color {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px;
  margin: 0 auto;
  max-width: 40%;
  text-align: center;
  padding: 20px;
}

/* Older Event */
#older-event {
  height: 60vh;
}

#older-event h2 {
  max-width: 40%;
  margin: 20px auto;
  font-weight: bolder;
}

#older-event .about-para {
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
  box-shadow: none;
}

.card {
  width: 35rem;
}

.card-body {
  width: 95%;
  height: 30vh;
  position: relative;
  background-image: url(./F-Assets/sales-team.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-body::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(189, 28, 10, 0.8);
}

.card-body h1,
.card-body p {
  position: relative;
  z-index: 11;
  color: white;
  max-width: 80%;
  text-align: center;
}

#footer {
  height: 25vh;
}

#footer p {
  font-size: 13px;
  color: rgb(204, 191, 191) !important;
}

#footer h6 {
  font-size: 15px;
  color: rgb(204, 191, 191) !important;
}

#speakers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.speaker-con {
  flex-basis: 50%;
}

#speakers p,
#speakers h6 {
  width: 250px;
}

#speakers img {
  width: 150px;
}

.speaker-row {
  display: flex;
  gap: 10px;
}

#open-menu-btn,
#close-menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  /* First Page */
  .navbar-nav,
  .navbar {
    padding: 0 !important;
    box-shadow: none !important;
  }

  #sharing-world .container {
    padding: 2px;
    margin-top: -100px;
  }

  .menu {
    display: none;
    background: rgb(237, 84, 84);
    width: 100vw;
    height: 50vh;
    align-items: center;
  }

  .menu a,
  .menu button {
    color: whitesmoke;
    z-index: 100;
    margin-left: 20px;
  }

  .menu button {
    width: 80%;
  }

  .nav-link:first-child {
    color: rgb(63, 56, 56) !important;
  }

  .button {
    border-color: rgb(63, 56, 56) !important;
  }

  #sharing-worldmobile {
    width: 100%;
    height: 50vh;
    margin-top: -750px;
    position: relative;
    background-image: url(./F-Assets/desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #sharing-worldmobile::after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #open-menu-btn {
    display: block;
  }

  #sharing-worldmobile h4 {
    font-size: 20px;
    max-width: 350px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
  }

  #sharing-worldmobile h2 {
    font-size: 20px;
    max-width: 380px;
    margin: 10px;
    font-weight: bolder;
    position: relative;
    z-index: 1;
  }

  #sharing-worldmobile .para {
    max-width: 350px;
    margin: 10px auto;
    position: relative;
    z-index: 1;
  }

  #sharing-worldmobile .fs-5 {
    font-size: 15px !important;
    margin: 0 5px;
    max-width: 300px;
    z-index: 1;
  }

  /* Second Page */
  #second-page {
    height: 100vh;
    width: 120%;
    background-color: black;
  }

  #second-page .row {
    flex-direction: column;
    width: 450px;
  }

  #second-page .col-2 {
    display: flex;
    width: 98%;
    gap: 10px;
    text-align: left !important;
    margin-left: -72px;
    justify-content: center;
  }

  #second-page h6 {
    font-size: 12px;
  }

  #second-page h5 {
    width: 200px;
    margin-left: -50px;
  }

  #second-page img {
    width: 20px;
  }

  #second-page .see {
    width: 220px;
    margin-left: -50px;
  }

  #second-page .para {
    text-align: left !important;
    font-size: 11px;
  }

  #second-page button {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 150%;
    margin-left: -50px;
  }

  /* Speakers Section */

  #speakers img {
    width: 110px;
    height: 80px;
  }

  #speakers .para1,
  #speakers .para {
    width: 250px;
    font-size: 12px;
  }

  #speakers h6 {
    width: 200px;
    font-size: 12px;
  }

  #speakers h2 {
    margin-top: 30px;
    font-size: 16px;
  }

  #last-mobile {
    width: 300px;
  }

  #last-mobile img {
    width: 50px;
  }

  #last-mobile p {
    width: 120px;
  }

  #partners img {
    width: 30px;
    height: 40px;
  }

  /* About */
  #logo-mobile .container,
  #older-event-mobile .container,
  #partners .container,
  #footer .container {
    padding: 2px !important;
  }
  #about-mobile {
    width: 100%;
    height: 80vh;
    margin-top: -800px;
    position: relative;
    background-image: url(./F-Assets/desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #about-mobile:after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #about-mobile .container {
    padding: 2px !important;
  }

  #about-mobile h2 {
    font-size: 20px;
    text-align: center;
    max-width: 90%;
    position: relative;
    z-index: 1;
  }

  .about-mobile-para {
    max-width: 90%;
    z-index: 0;
    position: relative;
  }

  /* Logo */
  #logo-mobile h2 {
    font-size: 16px;
    margin-top: 20px;
    max-width: 90%;
    font-weight: bolder;
    text-align: center;
  }

  #logo-mobile .about-mobile-para {
    max-width: 90%;
    text-align: center;
    box-shadow: none;
  }

  #logo-mobile .other-color {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
    padding: 20px;
  }

  /* Older Event */
  #older-event-mobile {
    height: 70vh;
  }

  #older-event-mobile h2 {
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
  }

  #older-event-mobile .about-para {
    max-width: 90%;
    text-align: center;
    box-shadow: none;
  }

  .card {
    width: 22rem;
  }

  /* Partners */
  #partners {
    height: 35vh;
    margin-top: 200px;
  }

  ul {
    max-width: 100%;
  }

  li {
    list-style: none;
    margin: 0 10px;
    font-size: 30px;
    color: rgb(144, 138, 138) !important;
  }

  /* Footer */
  #footer-mobile {
    height: 5vh;
    padding: 5px;
  }

  #footer-mobile p {
    font-size: 13px;
    color: rgb(32, 31, 31) !important;
  }

  #footer-mobile h5 {
    font-size: 15px;
    color: rgb(32, 31, 31) !important;
  }

  .navbar {
    padding: 20px !important;
    max-width: 60% !important;
  }

  .speaker-con {
    flex-basis: 90%;
  }

  .speaker-con:nth-child(6) {
    display: none;
  }

  .speaker-con:nth-child(5) {
    display: none;
  }

  .speaker-con:nth-child(4) {
    display: none;
  }

  .speaker-con:nth-child(3) {
    display: none;
  }

  /* More */

  #more {
    display: none;
    height: 100vh;
    background: red;
  }

  #click {
    border: 1px solid black;
    background: transparent;
    margin-bottom: 100px;
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  /* speakers */
  #speakers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin-left: 80px;
  }

  #speakers .container {
    padding: 2px !important;
  }

  .speaker-row {
    display: flex;
    gap: 5px;
  }

  .portfolio,
  .more {
    width: 300px;
  }
}
